.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
    color: #ffffff;
    text-align: center;

    .icon {
        font-size: 5rem;
        margin-bottom: 1rem;
        color: #ffcc00; // Желтый цвет для иконки
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.2rem;
        color: #aaaaaa;
    }
}
