$white-color: hsl(0, 0%, 100%);
$white-color-hover: hsl(0, 0%, 80%);

$black-color: hsl(0, 0%, 0%);

$body-font: "Poppins", sans-serif;
$h1-font-size: 2.3rem;
$normal-font-size: 1rem;
$small-font-size: .813rem;
$font-medium: 500;

.auth__form {
    color: $white-color;

    position: relative;
    background-color: hsla(0, 0%, 10%, 0.1);
    border: 2px solid $white-color;
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);

    input, button {
        border: none;
        outline: none;
    }

    a {
        text-decoration: none;
    }

    .auth__title {
        text-align: center;
        font-size: $h1-font-size;
        font-weight: $font-medium;
        margin-bottom: 2rem;
    }

    .auth__content {
        display: grid;
        row-gap: 1.75rem;
        margin-bottom: 1.5rem;
    }

    .link__container {
        display: flex;
        align-items: right;

        margin-bottom: 10px;
    }

    .auth__link {
        color: $white-color;
        text-align: right;

        transition: color 0.3s ease;

        &:hover {
            color: $white-color-hover;
        }
    }

    .auth__redirect {
        text-align: center;
    }
}

.auth__error {
    color: #ff0000;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
}


@media screen and (min-width: 576px) {
    .auth__form {
        width: 450px;
        padding: 4rem 3rem 3.5rem;
        border-radius: 1.5rem;
    }

    .auth__title {
        font-size: 2rem;
    }
}
  