.delete-account__form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 60%;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    background-color: #333;

    .action__description {
        width: 70%;
        text-align: justify;
    }

    form {
        display: flex;
        flex-direction: column;
        
        gap: 2rem;

        button {
            align-self: flex-start;
        }
    }
}