.forbidden__container {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    button {
        width: 10%;
    }
}

.forbidden__message {
    font-size: 1.5rem;
    color: #fff;
}