.forbidden__container {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    gap: 2rem;

    .clown {
        font-size: 10rem;
    }

    button {
        width: 10%;
    }
}

.forbidden__message {
    font-size: 1.5rem;
    color: #fff;
}