.page {
    height: 100vh;
    background-color: #d0d3f4;
    background-image: url('../../assets/auth_background.png');
    background-size: cover;

    display: grid;
    align-items: center;
    justify-content: center;
}