$background-color: #222;
$main-text-color: #fff;

.main-content {
    min-height: 100vh;

    padding: 1rem 2rem;

    margin-left: 50px;
    transition: margin-left 0.3s;

    background-color: $background-color;
    color: $main-text-color;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.main-content.shifted {
    margin-left: 200px;
}