.add-order__form {
    min-width: 50vw;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    button {
        align-self: center;
        width: 40%;
    }

    .columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left, .right {
            width: 48%;
        }

        .left {
            display: flex;
            flex-direction: column;
            gap: 1.8rem;

            .form__group {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }
}
